<div id="extension-shelly-content">
  
    <div id="extension-shelly-content-container">

          <h2>Execute a shell command</h2>
          <div id="extension-shelly-request">
                <div id="extension-shelly-form-content">
                      <label for="command">Command: </label><input type="text" name="command" id="extension-shelly-command" required>
                      <br/>
                      
                      <br/>
                      
                      <button type="button" id="extension-shelly-run">Run</button> <button type="button" id="extension-shelly-restart">Restart Gateway</button>
                </div>
          </div>

          <br>
          <br>

          <div id="extension-shelly-response">
                <pre id="extension-shelly-response-data"></pre>
          </div>

    </div>
</div>





